DATABASE_URL="postgres://postgres:postgres@localhost:5432/test_db?sslmode=disable"
DATABASE_URL_PROD="postgres://postgres:postgres@localhost:5432/www_adityadixit_dev?sslmode=disable"

BETTER_AUTH_SECRET=32characters-secret-here
BETTER_AUTH_URL=http://localhost:3000
